body{
    background-image: url(../images/PicsArt_08-24-05.08.02.jpg);
    background-repeat: no-repeat;
    background-position: 0px;
    background-position-y: 0px; 
    background-size: 410px;
}
p{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: red;
    text-align: center;
    font-size: 80px;
}
