body{
    background-image: url(images/B612_20181019_153032_623.jpg);
    background-size: 450px;
    background-repeat: no-repeat;
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: rgb(219, 5, 5);
    text-align: center;
}
a{
    color:purple;
}
